*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.preload * {
  transition: none !important;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--title-color);

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.4;
    background-image: url('../images/hero-background-1x.png');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero-background-2x.png');
    }
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.list {
  list-style: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  // padding: 0 20px;
  // margin: 0 auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    // padding: 0 40px;
  }
  @media screen and (min-width: $desktop) {
    width: 1366px;
    padding-right: 26px;
    padding-left: 26px;
    // padding: 0 26px;
    // margin: 0;
  }
}

.section {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  // padding: 50px 0;

  @media screen and (min-width: $desktop) {
    padding-bottom: 130px;
    padding-top: 130px;
    // padding: 130px 0;
  }
}

// .icon {
//   fill: currentColor;
// }

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
