<section class="about">
    <div class="container">
        <h2 class="about-title">Преподаватель</h2>
        <div class="about-box"> 
            
            <picture class="about-box-img">
                <source srcset="./images/about-teacher-1x.webp 1x, ./images/about-teacher-2x.webp 2x"
                    media="(min-width: 1366px)" type="image/webp">
                <source srcset="./images/t-m-about-teacher-1x.webp 1x, ./images/t-m-about-teacher-2x.webp 2x" media="(min-width: 768px)"
                    type="image/webp">
                <source srcset="./images/about-teacher-1x.jpg 1x, ./images/about-teacher-2x.jpg 2x"
                    media="(min-width: 1366px)">
                <source srcset="./images/t-m-about-teacher-1x.jpg 1x, ./images/t-m-about-teacher-2x.jpg 2x" media="(min-width: 768px)">
                <img srcset="./images/t-m-about-teacher-1x.jpg 1x, ./images/t-m-about-teacher-2x.jpg 2x"
                    src="./images/about-teacher-1x.jpg" alt="Елена Морева" />
            </picture>

            <div class="about-box-content">
                <p class="about-name">Елена Морева</p>
                <ul class="about-list">
                    <li class="orange-check about-item">
                        Опыт подготовки учеников к ВНО - 6 лет
                    </li>
                    <li class="orange-check about-item">
                        Собственный результат сдачи ВНО - 197 баллов 2 года подряд
                    </li>
                    <li class="orange-check about-item">
                    Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
                    </li>
                </ul>
                <p class="before-top-line about-text">
                    <span class="about-text-lead">
                        Высшее образование получила в Институте международных отношений НАУ по специальности переводчик-аналитик.
                    </span>
                    <span class="about-text-lead">
                        В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания
                    сочинений.
                    </span>
                    <span class="about-text-lead">
                        В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland),
                        How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education),
                        Powerful Tools for Teaching and Learning (University of Houston).
                    </span>
                </p>
                <a href="#" class="about-link">Cambrige English Entry Level Certificate</a>
            </div>
        </div>
    </div>
</section>