<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <ul class="list advantages-list">
      <li class="advantages-item before-advantages-person">
        <p class="advantages-text">Адаптированная авторская программа ВНО</p>
      </li>
      <li class="advantages-item before-advantages-education">
        <p class="advantages-text">
          Современные <br />
          методики обучения
        </p>
      </li>
      <li class="advantages-item before-advantages-money">
        <p class="advantages-text">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
