<section class="section benefits">
  <div class="container">
    <h2 class="title-inverse problems-title">Почему нас выбирают</h2>
    <ol class="benefits-ol pro list">
      <li class="benefits-li pro">Обучение в малых командах</li>
      <li class="benefits-li pro">Визуализированные конспекты</li>
      <li class="benefits-li pro">
        Каждое занятие имеет цель и конкретный результат
      </li>
      <li class="benefits-li pro">Реальные результаты преподавателя</li>
      <li class="benefits-li pro">
        Прогамма курса соответствует требованиям МОН Украины
      </li>
      <li class="benefits-li pro">Набор команд по уровням знаний</li>
    </ol>
  </div>
</section>
