<footer class="footer">
  <div class="container">
    <div class="footer-contacts">
      <a href="./index.html" class="logo" aria-label="Логотип Адский Английский">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#logo_mobile"></use>
        </svg>
      </a>
      <div class="footer-links">
        <a href="tel:+380000000000" class="telephone" id="telephone">
          <svg class="telephone-icon animate__heartBeat">
            <use href="./images/sprite.svg#telephone"></use>
          </svg>
          +38 (000) 000 00 00</a
        >
        <a
          href="https://www.instagram.com/"
          class="link-instagram"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="ссылка на Инстаграм"
        >
        </a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <p class="copyright-text">&copy; Все права защищены, 2021</p>
    </div>
  </div>
</footer>
