<section class="section hero">
  <div class="container">
    <div class="hero-blok">
      <h1>Комплексная подготовка к ВНО по английскому языку</h1>
      <p class="hero-slogan">Просто не будет.</p>
      <p class="hero-subtitle">
        Но ты гарантировано наберешь
        <span class="accent"> +25 баллов</span>
      </p>
      <a href="#form-contacts" class="button inverse" id="anchor4Link"
        >хочу на бесплатное занятие</a
      >
    </div>
    <picture>
      <source
        srcset="./images/hero-1x.webp 1x, ./images/hero-2x.webp 2x"
        media="(min-width: 1366px)"
        type="image/webp"
      />
      <source
        srcset="./images/t-hero-1x.webp 1x, ./images/t-hero-2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="./images/m-hero-1x.webp 1x, ./images/m-hero-2x.webp 2x"
        media="(min-width: 320px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero-1x.png 1x, ./images/hero-2x.png 2x"
        media="(min-width: 1366px)"
      />
      <source
        srcset="./images/t-hero-1x.png 1x, ./images/t-hero-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/m-hero-1x.png 1x, ./images/m-hero-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img
        srcset="./images/m-hero-1x.png 1x, ./images/m-hero-2x.png 2x"
        src="./images/m-hero-1x.png"
        alt="Преподователь с учениками"
      />
    </picture>
  </div>
</section>
