 <section class="how-we-do">
   <div class="container">
            <h2>Как мы это делаем</h2>
        <ul class="how-we-do-list list">
            <li class="how-we-do-item">
                <div class="how-we-do-icon-list">
                    <svg class="how-we-do-icon programm_bho">
                        <use href="./images/sprite.svg#programm_bho"></use>
                    </svg>
                </div>
                <div class="how-we-do-info">
                <h3 class="how-we-do-heading">
                    Адаптированная программа
                    подготовки к ВНО
                </h3>
                <div class="before-bottom-line"></div>
                <p class="how-we-do-text">
                    Ты будешь изучать грамматику и лексику 
                    одновременно. И ты научишься писать сочинения.
                </p>
                </div>

            </li>
            <li class="how-we-do-item">
                <div class="how-we-do-icon-list">
                    <svg class="how-we-do-icon education">
                        <use href="./images/sprite.svg#education"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-heading">
                    Аудитория и онлайн-обучение
                </h3>
                <div class="before-bottom-line"></div>
                <h3 class="how-we-do-text">
                    Учитель поможет не только в аудитории,
                    но и во время домашней подготовки.
                    Родители могут участвовать в чате при желании.
                </h3>

            </li>
            <li class="how-we-do-item">
                <div class="how-we-do-icon-list">
                    <svg class="how-we-do-icon book">
                        <use href="./images/sprite.svg#book"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-heading">
                    Привычка читать на английском языке
                </h3>
                <div class="before-bottom-line"></div>
                <p class="how-we-do-text">
                    Статьи из источников, которые используются при 
                    разработке настоящего ВНО, будут приходить 
                    на телефон дважды в неделю.
                </p>

            </li>
            <li class="how-we-do-item">
                <div class="how-we-do-icon-list">
                    <svg class="how-we-do-icon psy_support">
                        <use href="./images/sprite.svg#psy_support"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-heading">
                    Психологическая
                    поддержка
                </h3>
                <div class="before-bottom-line"></div>
                <p class="how-we-do-text">
                    Мы научим тебя методикам прохождения тестирований, 
                    умению планировать свою подготовку уверенности
                    в себе.
                </p>

            </li>
            <li class="how-we-do-item">
                <div class="how-we-do-icon-list">
                    <svg class="how-we-do-icon person">
                        <use href="./images/sprite.svg#person"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-heading">
                    Обучение по авторским пособиям
                </h3>
                <div class="before-bottom-line"></div>
                <p class="how-we-do-text">
                    Тебе не нужно тратить время
                    на самостоятельный поиск материала и ничего покупать 
                    дополнительно. Мы составили
                    2 пособия для тебя.
                </p>

            </li>
            <li class="how-we-do-item">
                <div class="how-we-do-icon-list">
                    <svg class="how-we-do-icon listen_english">
                        <use href="./images/sprite.svg#listen_english"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-heading">
                    Умение воспринимать устную английскую речь
                </h3>
                <div class="before-bottom-line"></div>
                <p class="how-we-do-text">
                    “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
                    и разбирать аудиозаписи
                    в соответствии с изучаемой лексикой.
                </p>

            </li>
        </ul>
    </div>
</section>