<!-- Модалка -->
<div class="backdrop is-hidden" data-modal data-tablet-modal>
  <div class="modal">
    <button class="modal-close-button" data-modal-close>
      <svg class="modal-close-button-svg">
        <use href="./images/sprite.svg#btn_close_modal"></use>
      </svg>
    </button>
    <!-- Форма в модалке -->
    <form class="modal-form">
      <p class="modal-header-text">Оставьте заявку</p>
      <p class="modal-p">и мы вам перезвоним</p>
      <div class="pdf-wrapper">
        <a
          class="pdf-gift modal-button"
          href="./media-files/gift-english-book.pdf"
          download="gift-english-book"
          >Получить подарок</a
        >
      </div>
      <!-- Имя -->
      <label class="label-modal block" for="name">Имя</label>

      <input
        class="form-input m-input"
        type="text"
        name="name"
        id="name"
        pattern="[а-я А-Я]{2,}"
        placeholder="&#128104;"
      />

      <!-- Телефон -->
      <label class="label-modal" for="phone">Телефон</label>

      <input
        class="form-input m-input"
        type="tel"
        name="tel"
        id="phone"
        placeholder="&#128222;"
        pattern="\+[0-9]{11}"
      />

      <!-- Комментарии -->
      <label class="label-modal" for="comment">Комментарий</label>
      <textarea
        class="form-input m-input textarea-modal"
        name="comment"
        id="comment"
        placeholder="Введите текст"
      ></textarea>
      <!-- Форма согласия -->
      <div class="agree-form">
        <input
          class="checkbox"
          type="checkbox"
          name="checkbox"
          id="policy"
          value="accept"
        />
        <label class="checkbox-text label-agree" for="policy">Согласен с</label>
        <a class="checkbox-text agree" href="#">Политикой конфиденциальности</a>
      </div>
      <button class="modal-button modal-button-hover" type="submit">
        Отправить
      </button>
    </form>
  </div>
</div>
