<section class="problems-color">
  <div class="container">
    <div class="problems">
      <h2 class="title-inverse problems-header">
        Главные проблемы учеников <br />
        на English ВНО, которые <br />
        мы <span class="accent">помогаем</span> решить
      </h2>

      <!-- <div class="benefits"> -->
      <ol class="benefits-ol list">
        <li class="benefits-li">Название грамматики</li>
        <li class="benefits-li">
          Неумение вомпринимать устную английскую речь
        </li>
        <li class="benefits-li">
          Скупой словарный запас для написани сочинения
        </li>
        <li class="benefits-li">
          Поодготовка в <br class="br" />
          одиночку
        </li>
        <li class="benefits-li">Отсутствие единого ресурса знаний</li>
        <li class="benefits-li">Недостатой самоорганизации и лень</li>
      </ol>
      <!-- </div> -->
    </div>
  </div>
</section>

<div class="div">
  <div class="container">
    <!--  вот этот кусок Дим, можешь забрать, что ниже -->
    <ol class="benefits-ol pro list">
      <li class="benefits-li pro">Обучение в малых командах</li>
      <li class="benefits-li pro">Визуализированные конспекты</li>
      <li class="benefits-li pro">
        Каждое занятие имеет цель и конкретный результат
      </li>
      <li class="benefits-li pro">Ревльные результаты преподавателя</li>
      <li class="benefits-li pro">
        Прогамма курса соответствует требованиям МОН Украины
      </li>
      <li class="benefits-li pro">Набор команд по уровням знаний</li>
    </ol>
  </div>
</div>
<div class="div divor"></div>
