<section class="section section-reviews">
  <div class="container">
    <h2 class="caption">Отзывы выпускников</h2>
    <div class="feedback-human">
      <div class="feedback-container">
        <div class="first-part">
          <div class="feedback-photo">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/r-one-1x.webp 1x,
                  ./images/reviews/r-one-2x.webp 2x
                "
              />
              <img
                width="90"
                height="90"
                src="./images/reviews/mr-one-1x.webp"
                srcset="./images/reviews/mr-one-2x.webp 2x"
                alt="Александра Ткаченко"
              />
            </picture>
          </div>
          <a
            href="https://vk.com/"
            target="_blank"
            class="link"
            rel="noopener noreferrer"
          >
            <svg class="icon-vk" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div>
          <article>
            <h3 class="caption-name">Александра Ткаченко</h3>
            <p class="text-release" lang="uk">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="text-feedback" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                href="https://vk.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="read-next accent"
                >Читать дальше
              </a>
            </p>
          </article>
        </div>
      </div>
      <div class="feedback-container">
        <div class="first-part">
          <div class="feedback-photo">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/r-two-1x.webp 1x,
                  ./images/reviews/r-two-2x.webp 2x
                "
              />
              <img
                width="90"
                height="90"
                src="./images/reviews/mr-two-1x.webp"
                srcset="./images/reviews/mr-two-2x.webp 2x"
                alt="Алина Степаненко"
              />
            </picture>
          </div>
          <a
            href="https://vk.com/"
            target="_blank"
            class="link"
            rel="noopener noreferrer"
          >
            <svg class="icon-vk" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div>
          <article>
            <h3 class="caption-name">Алина Степаненко</h3>
            <p class="text-release" lang="uk">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="text-feedback" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                href="https://vk.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="read-next accent"
                >Читать дальше
              </a>
            </p>
          </article>
        </div>
      </div>
      <div class="feedback-container">
        <div class="first-part">
          <div class="feedback-photo">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/r-three-1x.webp 1x,
                  ./images/reviews/r-three-2x.webp 2x
                "
              />
              <img
                width="90"
                height="90"
                src="./images/reviews/mr-three-1x.webp"
                srcset="./images/reviews/mr-three-2x.webp 2x"
                alt="Алиса Плющенко"
              />
            </picture>
          </div>
          <a
            href="https://vk.com/"
            target="_blank"
            class="link"
            rel="noopener noreferrer"
          >
            <svg class="icon-vk" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div>
          <article>
            <h3 class="caption-name">Алиса Плющенко</h3>

            <p class="text-release" lang="uk">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="text-feedback" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                href="https://vk.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="read-next accent"
                >Читать дальше</a
              >
            </p>
          </article>
        </div>
      </div>
      <div class="feedback-container">
        <div class="first-part">
          <div class="feedback-photo">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/r-four-1x.webp 1x,
                  ./images/reviews/r-four-2x.webp 2x
                "
              />
              <img
                width="90"
                height="90"
                src="./images/reviews/mr-four-1x.webp"
                srcset="./images/reviews/mr-four-2x.webp 2x"
                alt="Алла Лещенко"
              />
            </picture>
          </div>
          <a
            href="https://vk.com/"
            target="_blank"
            class="link"
            rel="noopener noreferrer"
          >
            <svg class="icon-vk" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div>
          <article>
            <h3 class="caption-name">Алла Лещенко</h3>
            <p class="text-release" lang="uk">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="text-feedback" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                href="https://vk.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="read-next accent"
                >Читать дальше</a
              >
            </p>
          </article>
        </div>
      </div>
      <div class="feedback-container">
        <div class="first-part">
          <div class="feedback-photo">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/r-five-1x.webp 1x,
                  ./images/reviews/r-five-2x.webp 2x
                "
              />
              <img
                width="90"
                height="90"
                src="./images/reviews/mr-five-1x.webp"
                srcset="./images/reviews/mr-five-2x.webp 2x"
                alt="Анастасия Скрипко"
              />
            </picture>
          </div>
          <a
            href="https://vk.com/"
            target="_blank"
            class="link"
            rel="noopener noreferrer"
          >
            <svg class="icon-vk" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div>
          <article>
            <h3 class="caption-name">Анастасия Скрипко</h3>
            <p class="text-release" lang="uk">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="text-feedback" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                href="https://vk.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="read-next accent"
                >Читать дальше
              </a>
            </p>
          </article>
        </div>
      </div>
      <div class="feedback-container">
        <div class="first-part">
          <div class="feedback-photo">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/r-six-1x.webp 1x,
                  ./images/reviews/r-six-2x.webp 2x
                "
              />
              <img
                width="90"
                height="90"
                src="./images/reviews/mr-six-1x.webp"
                srcset="./images/reviews/mr-six-2x.webp 2x"
                alt="Ангелина Гончаренко"
              />
            </picture>
          </div>
          <a
            href="https://vk.com/"
            target="_blank"
            class="link"
            rel="noopener noreferrer"
          >
            <svg class="icon-vk" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div>
          <article>
            <h3 class="caption-name">Ангелина Гончаренко</h3>
            <p class="text-release" lang="uk">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="text-feedback" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                href="https://vk.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="read-next accent"
                >Читать дальше</a
              >
            </p>
          </article>
        </div>
      </div>
      <div class="feedback-container">
        <div class="first-part">
          <div class="feedback-photo">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/r-seven-1x.webp 1x,
                  ./images/reviews/r-seven-2x.webp 2x
                "
              />
              <img
                width="90"
                height="90"
                src="./images/reviews/mr-seven-1x.webp"
                srcset="./images/reviews/mr-seven-2x.webp 2x"
                alt="Анфиса Тищенко"
              />
            </picture>
          </div>
          <a
            href="https://vk.com/"
            target="_blank"
            class="link"
            rel="noopener noreferrer"
          >
            <svg class="icon-vk" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div>
          <article>
            <h3 class="caption-name">Анфиса Тищенко</h3>
            <p class="text-release" lang="uk">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="text-feedback" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a
                href="https://vk.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="read-next accent"
                >Читать дальше</a
              >
            </p>
          </article>
        </div>
      </div>
    </div>

    <div class="slider-people">
      <div class="slide-item">
        <img
          width="54"
          height="54"
          class="slide-photo"
          src="./images/reviews/s-one-1x.webp"
          srcset="./images/reviews/s-one-2x.webp 2x"
          alt="Александра Ткаченко"
        />
      </div>
      <div class="slide-item">
        <img
          width="54"
          height="54"
          class="slide-photo"
          src="./images/reviews/s-two-1x.webp"
          srcset="./images/reviews/s-two-2x.webp 2x"
          alt="Алина Степаненко"
        />
      </div>
      <div class="slide-item">
        <img
          width="54"
          height="54"
          class="slide-photo"
          src="./images/reviews/s-three-1x.webp"
          srcset="./images/reviews/s-three-2x.webp 2x"
          alt="Алиса Плющенко"
        />
      </div>
      <div class="slide-item">
        <img
          width="54"
          height="54"
          class="slide-photo"
          src="./images/reviews/s-four-1x.webp"
          srcset="./images/reviews/s-four-2x.webp 2x"
          alt="Алла Лещенко"
        />
      </div>
      <div class="slide-item">
        <img
          width="54"
          height="54"
          class="slide-photo"
          src="./images/reviews/s-five-1x.webp"
          srcset="./images/reviews/s-five-2x.webp 2x"
          alt="Анастасия Скрипко"
        />
      </div>
      <div class="slide-item">
        <img
          width="54"
          height="54"
          class="slide-photo"
          src="./images/reviews/s-six-1x.webp"
          srcset="./images/reviews/s-six-2x.webp 2x"
          alt="Ангелина Гончаренко"
        />
      </div>
      <div class="slide-item">
        <img
          width="54"
          height="54"
          class="slide-photo"
          src="./images/reviews/s-seven-1x.webp"
          srcset="./images/reviews/s-seven-2x.webp 2x"
          alt="Анфиса Тищенко"
        />
      </div>
    </div>
  </div>
</section>
