/* Modal window */
body.contacts-modal-open {
  overflow: hidden;
}

.is-contacts-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  .modal-contacts {
    transform: translate(-50%, -100%) scale(0.7);
    z-index: 160;
  }
}

.modal-contacts {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 90%;
  min-height: 300px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-duration) var(--timing-function);
  z-index: 6;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: var(--benefits-shadow);
  padding: 30px 10px;

  @media screen and (min-width: $desktop) {
    width: 70%;
    padding: 100px 30px;
  }

  &-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }

  &-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;

    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }
  }
}

// .modal-button-hover {
.contacts-button-hover {
  background-color: var(--white-color);
}

// .modal-button-hover:hover,
// .modal-button-hover:focus {
.contacts-button-hover:hover,
.contacts-button-hover:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
