.section-reviews {
  & .feedback-human {
    text-align: center;
  }
  & .feedback-photo {
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  & .caption-name {
    color: var(--accent-color);
  }

  & .text-release {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;

    color: var(--text-color);
  }
  & .text-feedback {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;

    text-align: center;

    color: var(--alternative-text-color);
  }
  & .read-next {
    display: block;
    color: var(--accent-color);
    text-decoration: underline;
  }
}

.slick-current .slide-photo {
  border-radius: 50%;
  border: 1px solid var(--accent-color);
}
