.slider-people {
  & .slick-arrow {
    opacity: 1;
    z-index: 2;
    width: 25px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  & .slick-arrow:hover,
  & .slick-arrow:focus {
    outline: none;
    background-size: contain;
    background-repeat: no-repeat;
    //   background-color: inherit;
  }

  & .slick-prev::before,
  & .slick-next::before {
    content: '';
  }
  & .slick-arrow.slick-prev {
    left: 0;

    background-image: url('../images/reviews/slick-prev@2x.png');
  }
  & .slick-arrow.slick-next {
    right: 0;
    background-image: url('../images/reviews/slick-next@2x.png');
  }
}
