.benefits {
  padding-top: 0;
  padding-bottom: 39px;
  background-image: linear-gradient(
    to bottom,
    var(--black-color) 64.3%,
    var(--white-color) 35.7%
  );

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
    to top,
    var(--white-color) 60%,
    var(--black-color) 40%
  );
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
    to top,
    var(--white-color) 53%,
    var(--black-color) 47%
  );
  }
}

.benefits-ol.pro {
  padding-top: 10px;

  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }
  @media screen and (min-width: $desktop) {
    position: relative;
    z-index: 1;
    padding-left: 85px;
    padding-right: 85px;
    margin-top: 0;
  }
  .benefits-li.pro {
    padding-top: 49px;

    @media screen and (min-width: $desktop) {
      margin-top: 28px;
    }
  }
}
