.header {
  position: relative;
  padding-top: 30px;

  .container {
    display: flex;
    flex-direction: row-reverse;

    .button-tablet {
      display: none;

      @media screen and(min-width: $tablet) and (max-width: $desktop - 1px) {
        display: block;
        margin-left: auto;
        cursor: pointer;
      }
    }

    @media screen and (min-width: $desktop) {
      align-items: center;
      margin: 0 auto;
    }
  }

  .nav {
    visibility: visible;
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background: var(--background-mobile-menu-color);

    padding-top: 110px;

    &.is-open {
      display: block;

      ~ .logo {
        position: fixed;
        top: 30px;
        left: 20px;
        z-index: 100;
        .logo-icon {
          fill: var(--white-color);
          --color3: var(--white-color);
          --color5: var(--white-color);
          @media screen and (min-width: $tablet) {
            --color5: var(--accent-color);
          }
        }
      }
    }

    &.is-closed {
      display: none;
    }

    .navigation {
      width: 260px;

      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: $desktop) {
        display: flex;
        color: var(--text-color);
        width: auto;
        margin-right: 0;
      }
    }

    .menu {
      @media screen and (max-width: $desktop - 1px) {
        &:not(:last-child) {
          margin-bottom: 19px;
        }
      }

      .menu-item {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: var(--white-color);
        text-align: start;

        &:hover,
        &:focus {
          color: var(--accent-color);
        }
        @media screen and (min-width: $desktop) {
          //   display: inline-block;
          color: var(--text-color);
          font-size: 14px;
          line-height: 1.21;
        }
      }

      @media screen and (min-width: $desktop) {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .button {
      display: block;
      width: 260px;

      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      @media screen and (min-width: $tablet) {
        display: none;
      }

      @media screen and (min-width: $desktop) {
        display: block;
        width: 343px;
        height: 70px;
        margin-left: 60px;
        margin-right: 0;
        margin-top: 0;
      }
    }

    @media screen and (min-width: $tablet) {
      padding-top: 159px;
    }

    @media screen and (min-width: $desktop) {
      position: relative;
      display: flex;
      height: auto;

      background: transparent;

      padding-top: 0;
      align-items: center;

      //   ~ .logo {
      //     z-index: 100;
      //     margin-top: 12px;
      //   }
    }
  }
}
