.program {
  position: relative;
  padding-bottom: 768px;
  color: var(--text-color);

  @media screen and (max-width: $tablet - 1) {
    background-image: linear-gradient(to bottom, var(--black-color) 90%, var(--white-color) 10%);
    overflow: hidden;
  }


  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to bottom, var(--black-color) 84.3%, var(--white-color) 15.7%);
    padding-top: 60px;
    padding-bottom: 644px;
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(to bottom, var(--black-color) 86.2%, var(--white-color) 13.8%);
    padding-top: 120px;
    padding-bottom: 562px;
  }

  &-title {
    margin-bottom: 50px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 60px;
      text-align: left;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 100px;
    }
  }

  &-list {
    position: relative;
    @media screen and (max-width: $tablet - 1) {
      width: 275px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      padding-left: 103px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-term {
    @media screen and (max-width: $tablet - 1) {
      padding-left: 26px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      padding-left: 56px;
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 4 * 30px) / 5);
      padding-top: 60px;
    }
  }

  &-term:not(:last-child) {
    @media screen and (max-width: $desktop - 1) {
      border-left: 1px solid var(--white-color);
      padding-bottom: 47px;
    }
  }

  &-thumb {
    @media screen and (max-width: $desktop - 1) {
      font-size: 12px;
      line-height: 1.67;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      display: flex;
    }
  }

  &-item {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      flex-basis: calc((100% - 4 * 25px) / 3);
    }
  }

  &-item:not(:last-child) {
    @media screen and (max-width: $tablet - 1) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      margin-right: 50px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 25px;
    }
  }

  &-unit {
    @media screen and (min-width: $desktop) {
      font-size: 18px;
    }
  }
}

.last-item::after {
  content: '';
  position: absolute;
  background-image: url(../images/t-program-women-1x.png);
  background-size: cover;

  @media screen and (max-width: $tablet - 1) {
    bottom: -97px;
    right: -60px;
    width: 176px;
    height: 137px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    bottom: -142px;
    right: -40px;
    width: 384px;
    height: 280px;
  }

  @media screen and (min-width: $desktop) {
    bottom: -335px;
    right: 810px;
    width: 760px;
    height: 502px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .last-item::after {
    background-image: url(../images/t-program-women-2x.png);
  }
}

.program-term > h3 {
  line-height: 1;
}

.term-title {
  margin-bottom: 12px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 25px;
  }
}

.accent-title {
  margin-bottom: 5px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 10px;
  }
}

.before-dots::before {
  @media screen and (max-width: $desktop - 1) {
    top: -1px;
    left: -9px;
  }
}

.trans {
  color: transparent;
}

@media screen and (min-width: $desktop) {
  .program-border {
    width: 100vw;
    border-top: 1px solid var(--text-color);
  }
}

@media screen and (max-width: $tablet - 1) {
  .program-border .container {
    padding: 0 0 0 45px;
    margin: 0 auto;
  }
}
