.section-reviews {
  & .container {
    width: 320px;
  }

  & .caption {
    margin-bottom: 20px;
  }

  & .feedback-container {
    padding: 20px 20px 30px 20px;
  }

  .feedback-photo {
    margin-bottom: 20px;
  }

  & .icon-vk {
    margin-bottom: 20px;
  }
  & .caption-name {
    margin-bottom: 10px;
  }

  & .text-release {
    margin-bottom: 10px;
  }
}

.slider-people {
  padding: 0 49px;

  & .slide-item {
    margin: 0 5px;
  }
}
