.benefits {
    position: relative;
    padding-top: 0;
    padding-bottom: 39px;
    background-image: linear-gradient(
      to bottom,
      var(--black-color) 60%,
      var(--white-color) 40%
    );
  
    @media screen and (min-width: $tablet) {
      padding-bottom: 50px;
      background-image: linear-gradient(
      to top,
      var(--white-color) 62%,
      var(--black-color) 38%
    );
    }
  
    @media screen and (min-width: $desktop) {
      background-image: none;
      padding-bottom: 329px;
    }
  }
  
  .benefits .container {
    @media screen and (min-width: $desktop) {
      position: absolute;
      top: -254px;
      left: 50%;
      transform: translateX(-50%);
    }  
  }
  
  .benefits-title {
    @media screen and (max-width: $tablet - 1) {
      position: absolute;
      top: -80px;
      width: 180px;
      text-align: left;
    }
  
    @media screen and (min-width: $desktop) {
      visibility: hidden;
    }
  }
  
  .benefits-ol.pro {
    padding-top: 10px;
    margin-top: 0;
  
    @media screen and (min-width: $tablet) {
      margin-top: 30px;
      padding-top: 30px;
    }
    @media screen and (min-width: $desktop) {
      position: relative;
      z-index: 1;
      margin-top: 0;
      padding-left: 85px;
      padding-right: 85px;
    }
    .benefits-li.pro {
      padding-top: 49px;
  
      @media screen and (min-width: $desktop) {
        margin-top: 28px;
      }
    }
  }
